.nav-folder:has(> :is(
        [data-path="Folder AAA"],
        [data-path="Folder BBB"],
        [data-path="Folder CCC"],
        [data-path="Folder DDD"]
    )) {
    position: relative;

    &::before {
        content: "";
        --padding-x: 10px;
        margin-inline-start: calc(24px - var(--padding-x));
        padding: 0 var(--padding-x);
        background-color: var(--background-primary);
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: calc(0.5em * var(--line-height-tight));
        width: 100%; /* change for something smaller if you don't want the divider to span full length */
        height: 0;
        border-top: 1px solid currentColor;
        z-index: -1;
    }
}

.nav-folder:has(> [data-path="Folder AAA"])::before { content: "Separator AAA"; }
.nav-folder:has(> [data-path="Folder BBB"])::before { content: "Separator BBB"; }
.nav-folder:has(> [data-path="Folder CCC"])::before { content: "Separator CCC"; }
.nav-folder:has(> [data-path="Folder DDD"])::before { content: "Separator DDD"; }
